@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:600&display=swap);
.light {
  --mainColor: #373737;
  --backgroundView-1: #fff7f4;
  --backgroundView-2: #fff;
  --backgroundView-3: #fff;
  --backgroundView-4: #fff;
  --paragraph: #7b7b7b
}
.dark {
  --mainColor: #fff;
  --backgroundView-1: #242526;
  --backgroundView-2: #3a3b3c;
  --backgroundView-3: #18191a;
  --backgroundView-4: #242526;
  --paragraph: #fff
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--mainColor);
  line-height: 1;
  font-family: "Work Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Work Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body ::selection {
  background-color: #ff5300;
  color: #fff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title-main {
  font-weight: 700;
  line-height: 124%;
  text-transform: capitalize
}
.title-main span {
  color: #ff5300
}
.title {
  font-weight: 600;
  line-height: 124%;
  text-transform: capitalize
}
.title span {
  color: #ff5300
}
.text {
  line-height: 151%;
  color: var(--paragraf)
}
.button {
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  padding: .8125rem 1.375rem;
  background-color: #ff5300;
  border-radius: .3125rem;
  box-shadow: 4px 5px 15px 0 rgba(255,83,0,.4);
  transition: background-color .3s ease 0s
}
.social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease 0s
}
.social-link svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #ff5300;
  transition: color .3s ease 0s
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}
.content__label {
  line-height: 151%;
  color: var(--paragraf)
}
.content__title {
  margin-bottom: .6875rem
}
.content__text p:not(:last-child) {
  margin-bottom: 1.5625rem
}
.heading {
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: all .6s ease .2s
}
.heading__label {
  line-height: 151%;
  color: var(--paragraf)
}
.heading._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.swiper-pagination {
  padding-top: 3.125rem;
  display: flex;
  justify-content: center;
  gap: .25rem
}
.swiper-pagination-bullet {
  width: .9375rem;
  height: .9375rem;
  border-radius: .9375rem;
  background-color: #ff5300;
  transition: all .6s ease-in-out
}
.swiper-pagination-bullet-active {
  width: 3.0625rem;
  background-color: #373737
}
@-webkit-keyframes rotary-switch {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@keyframes rotary-switch {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@-webkit-keyframes brend-image {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes brend-image {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--backgroundView-2)
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  transition: top 2s ease-in-out 0s
}
.header._header-show {
  transition: top 2s ease-in-out 0s;
  top: 0
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  position: relative;
  z-index: 50;
  font-weight: 600
}
.header__logo span {
  color: #ff5300
}
.header__switch {
  position: relative;
  z-index: 50;
  display: flex;
  width: 1.5rem;
  height: 1.5rem
}
.dark .header__switch {
  background: url(../img/icons/dark.svg) 0 0/100% no-repeat
}
.light .header__switch {
  background: url(../img/icons/light.svg) 0 0/100% no-repeat
}
.menu {
  display: flex
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.25rem
}
.menu__item {
  font-weight: 500;
  white-space: nowrap
}
.footer__top {
  background-color: #373737;
  color: #fff
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.1875rem
}
.footer__column form {
  display: flex;
  justify-content: space-between;
  border: .0625rem solid #ff5300;
  max-width: 25rem
}
.footer__title {
  margin-bottom: 1.5625rem;
  font-weight: 600;
  line-height: 124%
}
.footer__title span {
  color: #ff5300
}
.footer__text {
  line-height: 151%;
  margin-bottom: 1rem
}
.footer__social {
  display: flex;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem
}
.footer__link {
  line-height: 151%;
  margin-bottom: .6875rem
}
.footer__bottom {
  background-color: #ff5300;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem
}
.footer__copyright {
  display: flex;
  gap: .5rem
}
.footer__copyright svg {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem
}
.footer__copyright span {
  color: #fff;
  line-height: 151%;
  text-align: center
}
.footer__input {
  flex: 1 1 auto;
  padding-left: .9375rem
}
.footer__input:focus {
  caret-color: #ff5300
}
.footer__button {
  width: 5rem;
  height: 3.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5300;
  transition: background-color .3s ease 0s
}
.footer__button svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: color .3s ease 0s
}
.page__hero {
  background-color: var(--backgroundView-1)
}
.page__about {
  background-color: var(--backgroundView-3)
}
.page__expereince {
  background-color: var(--backgroundView-1)
}
.page__team {
  background-color: var(--backgroundView-3)
}
.page__work {
  background-color: var(--backgroundView-3)
}
.page__feedback {
  background-color: var(--backgroundView-1)
}
.page__blog {
  background-color: var(--backgroundView-3)
}
.page__contact {
  background-color: var(--backgroundView-3)
}
.sidebar {
  position: fixed;
  z-index: 50;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: .3125rem
}
.sidebar__social-link {
  background-color: var(--backgroundView-2);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1)
}
.dark .sidebar__social-link svg {
  color: #fff
}
.hero__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  row-gap: 3.125rem
}
.hero__content {
  flex: 1 1 42.1%;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  transition: all .6s ease .4s
}
._watcher-view .hero__content {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.hero__image {
  flex: 1 1 54.6%;
  opacity: 0;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  transition: all .6s ease .4s
}
.hero__image img {
  width: 100%;
  height: auto
}
._watcher-view .hero__image {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.about__body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  -webkit-column-gap: 3.9375rem;
  -moz-column-gap: 3.9375rem;
  column-gap: 3.9375rem;
  row-gap: 3.125rem
}
.about__content {
  flex: 1 1 48.7%;
  opacity: 0;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  transition: all .6s ease 0s
}
._watcher-view .about__content {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.about__image {
  flex: 1 1 45.9%;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  transition: all .6s ease 0s
}
.about__image img {
  width: 100%;
  height: auto
}
._watcher-view .about__image {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.about__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 1.5625rem
}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
  background-color: var(--backgroundView-2);
  padding: 1.5625rem 1.875rem 1.25rem 1.875rem;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%)
}
._watcher-view .about__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.about__item:nth-child(1) {
  transition: all .6s ease 0s
}
.about__item:nth-child(1) .about__icon {
  background-color: #ff5300;
  box-shadow: 4px 5px 15px 0 rgba(255,83,0,.4)
}
.about__item:nth-child(2) {
  transition: all .6s ease .2s
}
.about__item:nth-child(2) .about__icon {
  background-color: #7b7b7b;
  box-shadow: 4px 5px 15px 0 rgba(0,0,0,.4)
}
.about__item:nth-child(3) {
  transition: all .6s ease .4s
}
.about__item:nth-child(3) .about__icon {
  background-color: #00acff;
  box-shadow: 4px 5px 15px 0 rgba(0,194,255,.4)
}
.about__item:nth-child(4) {
  transition: all .6s ease .6s
}
.about__item:nth-child(4) .about__icon {
  background-color: #373737;
  box-shadow: 4px 5px 15px 0 rgba(0,0,0,.4)
}
.about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  padding: 1.4375rem
}
.about__icon svg {
  color: #fff;
  width: 100%;
  height: auto
}
.about__label {
  text-align: center;
  line-height: 151%;
  font-size: 1rem;
  font-weight: 400
}
.expereince__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  row-gap: 3.125rem
}
.expereince__content {
  flex: 1 1 48.6%;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  transition: all .6s ease 0s
}
._watcher-view .expereince__content {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.expereince__items {
  flex: 1 1 48.7%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.875rem
}
.expereince__items-column {
  display: flex;
  flex-direction: column;
  gap: 1.875rem
}
.expereince__item {
  text-align: center;
  text-transform: capitalize;
  background-color: var(--backgroundView-2);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  padding: 4.625rem 1.25rem;
  opacity: 0;
  -webkit-transform: translateX(10%);
  transform: translateX(10%)
}
._watcher-view .expereince__item {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.expereince__item:nth-child(1) {
  transition: all .6s ease .4s
}
.expereince__item:nth-child(2) {
  transition: all .6s ease .8s
}
.expereince__counter {
  font-size: 3rem;
  line-height: 124%;
  font-weight: 700;
  margin-bottom: 1.125rem
}
.expereince__counter::after {
  content: "+"
}
.expereince__item-label {
  font-weight: 500;
  color: #7b7b7b
}
.team__slider {
  padding-bottom: 1.25rem;
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: all .6s ease .4s
}
.team__slider._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.team-slide {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  overflow: hidden;
  cursor: pointer
}
.team-slide__body {
  position: relative
}
.team-slide__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 270/250;
  -o-object-fit: cover;
  object-fit: cover
}
.team-slide__sidebar {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
  transform: translateX(100%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.team-slide__content {
  text-align: center;
  background-color: var(--backgroundView-4);
  padding-top: 1.5rem;
  padding-bottom: .875rem
}
.team-slide__name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 124%
}
.team-slide__post {
  font-size: 1rem;
  line-height: 151%;
  color: #7b7b7b
}
.work__heading {
  margin-bottom: 1.5625rem
}
.work__control {
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: all .6s ease .4s
}
.work__control._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.work__control-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: .9375rem;
  font-weight: 500;
  line-height: 124%
}
.work__control-title span {
  color: var(--mainColor);
  cursor: pointer
}
.work__control-title span.active {
  color: #ff5300
}
.work__slider {
  opacity: 0;
  -webkit-transform: translateY(1.875rem);
  transform: translateY(1.875rem);
  transition: all .6s ease .4s
}
.work__slider._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.slide-work {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.slide-work__item1 {
  overflow: hidden;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1)
}
.slide-work__item2 {
  overflow: hidden
}
.slide-work__item3 {
  overflow: hidden
}
.slide-work__item4 {
  overflow: hidden
}
.slide-work__item5 {
  overflow: hidden
}
.slide-work__item6 {
  overflow: hidden
}
.slide-work__link {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%
}
.slide-work__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out,-webkit-transform 3s ease-in-out
}
.slide-work__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,85,0,.7254901961);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2.9375rem;
  opacity: 0;
  transition: all .3s ease-in-out;
  color: #fff
}
.hover-tabs__icon {
  margin-bottom: 1.5625rem
}
.hover-tabs__icon svg {
  width: 2.5rem;
  height: 2.5rem
}
.hover-tabs__work {
  font-weight: 600;
  line-height: 124%
}
.hover-tabs__section {
  line-height: 151%
}
.feedback__slider {
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: all .6s ease .4s
}
.feedback__slider._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.slide-feedback {
  background-color: rgba(0,0,0,0);
  position: relative
}
.slide-feedback__content {
  background-color: #ff5300;
  color: #fff;
  margin-left: 2.5rem
}
.slide-feedback__name {
  line-height: 124%;
  margin-bottom: .4375rem
}
.slide-feedback__post {
  line-height: 151%;
  margin-bottom: 1.4375rem
}
.slide-feedback__text {
  line-height: 151%
}
.slide-feedback__image {
  position: absolute;
  top: 1.5625rem;
  left: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden
}
.slide-feedback__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.blog__slider {
  padding-left: .3125rem;
  padding-right: .3125rem;
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: all .6s ease .4s
}
.blog__slider._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.slide-blog {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  padding: 1.5625rem;
  background-color: var(--backgroundView-4)
}
.slide-blog__heading {
  display: flex
}
.slide-blog__label {
  line-height: 151%;
  color: #ff5300
}
.slide-blog__text {
  line-height: 124%;
  font-weight: 500;
  padding-bottom: .9375rem
}
.slide-blog__image {
  flex: 1 0 auto;
  overflow: hidden
}
.slide-blog__image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1/1
}
.slide-blog__person {
  display: flex;
  align-items: center;
  gap: .625rem
}
.slide-blog__person-image {
  overflow: hidden
}
.slide-blog__person-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1/1
}
.slide-blog__person-name {
  font-weight: 500;
  line-height: 124%
}
.slide-blog__person-date {
  line-height: 151%;
  color: #7b7b7b
}
.contact__items {
  padding-top: 3.75rem;
  display: flex;
  justify-content: center
}
.contact__item {
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(10%)
}
._watcher-view .contact__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.contact__item:nth-child(1) {
  transition: all .6s ease .4s
}
.contact__item:nth-child(2) {
  transition: all .6s ease .6s
}
.contact__item:nth-child(3) {
  transition: all .6s ease .8s
}
.contact__form {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  align-items: center;
  gap: 1.875rem
}
.contact__form-content {
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
  transition: all .8s ease .4s
}
._watcher-view .contact__form-content {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.contact__form-content form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,1fr);
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  row-gap: 1.125rem
}
.contact__form-title {
  margin-bottom: 1.125rem
}
.contact__image {
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  transition: all .6s ease .4s
}
._watcher-view .contact__image {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.contact__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 471/310;
  -o-object-fit: cover;
  object-fit: cover
}
.contact__input {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  background-color: var(--backgroundView-4);
  padding: 1.125rem
}
.contact__input:focus {
  border: .0625rem solid #ff5300;
  caret-color: #ff5300
}
.contact__input:valid {
  background-color: var(--backgroundView-1)
}
.contact__textarea {
  margin-top: .625rem;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  background-color: var(--backgroundView-4);
  padding: 1.125rem;
  margin-bottom: 1.8125rem;
  grid-area: 3/1/6/3
}
.contact__textarea:focus {
  border: .0625rem solid #ff5300;
  caret-color: #ff5300
}
.contact__textarea:valid {
  background-color: var(--backgroundView-1)
}
.contact__map {
  position: relative
}
.contact__map::after,
.contact__map::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--backgroundView-3);
  transition: width 1s ease .4s
}
.contact__map::before {
  left: 0
}
.contact__map::after {
  right: 0
}
.contact__map._watcher-view::after,
.contact__map._watcher-view::before {
  width: 0
}
.contact__map iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 1170/450
}
.contact__brend {
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.contact__brend-image {
  width: auto;
  -webkit-transform: scale(0);
  transform: scale(0)
}
.contact__brend-image img {
  width: 100%;
  height: 100%
}
._watcher-view .contact__brend-image:nth-child(1) {
  -webkit-animation: brend-image .8s ease .2s forwards;
  animation: brend-image .8s ease .2s forwards
}
._watcher-view .contact__brend-image:nth-child(2) {
  -webkit-animation: brend-image .8s ease 1s forwards;
  animation: brend-image .8s ease 1s forwards
}
._watcher-view .contact__brend-image:nth-child(3) {
  -webkit-animation: brend-image .8s ease 1.8s forwards;
  animation: brend-image .8s ease 1.8s forwards
}
._watcher-view .contact__brend-image:nth-child(4) {
  -webkit-animation: brend-image .8s ease 2.6s forwards;
  animation: brend-image .8s ease 2.6s forwards
}
.item-contact {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  background-color: var(--backgroundView-4);
  padding: 1.125rem 1.125rem 1.5rem 1.125rem
}
.item-contact__heading {
  display: flex;
  align-items: center;
  gap: 1.125rem
}
.item-contact__icon {
  display: flex;
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 50%;
  background-color: #ff5300;
  padding: 1.25rem;
  box-shadow: 4px 5px 15px 0 rgba(255,83,0,.4)
}
.item-contact__icon svg {
  color: #fff;
  width: 100%;
  height: auto
}
.item-contact__content {
  line-height: 124%
}
.item-contact__label {
  color: #ff5300;
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: .6875rem
}
.item-contact__title {
  font-size: 1.9375rem;
  font-weight: 600
}
.item-contact__link {
  font-size: 1.25rem;
  color: var(--paragraf);
  display: block
}
.item-contact__link:not(:last-child) {
  margin-bottom: 1.25rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .expereince__items-column:nth-child(2) {
    margin-top: 1.4375rem
  }
  .slide-work {
    grid-template-rows: repeat(9,1fr)
  }
  .slide-work__item1 {
    grid-area: 1/1/5/2
  }
  .slide-work__item2 {
    grid-area: 1/2/6/3
  }
  .slide-work__item3 {
    grid-area: 1/3/5/4
  }
  .slide-work__item4 {
    grid-area: 5/1/10/2
  }
  .slide-work__item5 {
    grid-area: 6/2/10/3
  }
  .slide-work__item6 {
    grid-area: 5/3/10/4
  }
  .contact__item {
    width: 23.125rem
  }
}
@media (min-width:47.99875em) {
  .header__container {
    -webkit-column-gap: 2.375rem;
    -moz-column-gap: 2.375rem;
    column-gap: 2.375rem
  }
  .menu__list {
    -webkit-column-gap: 2.375rem;
    -moz-column-gap: 2.375rem;
    column-gap: 2.375rem
  }
}
@media (min-width:61.99875em) {
  .contact__form-content {
    flex: 57.2%
  }
  .contact__image {
    flex: 40.2%
  }
}
@media (min-width:75em) {
  .title-main {
    font-size: 3rem
  }
  .title {
    font-size: 2.4375rem
  }
  .content__label {
    margin-bottom: 1.5625rem
  }
  .content__text {
    padding-bottom: 3.125rem
  }
  .heading__label {
    margin-bottom: 1.5625rem
  }
  .header {
    padding-top: 1.5625rem
  }
  .header {
    padding-bottom: 1.5625rem
  }
  .header__logo {
    font-size: 2.4375rem
  }
  .menu__item {
    font-size: 1.25rem
  }
  .footer__top {
    padding-top: 4.125rem
  }
  .footer__top {
    padding-bottom: 3.75rem
  }
  .footer__title {
    font-size: 2.4375rem
  }
  .page__hero {
    padding-top: 15.8125rem
  }
  .page__hero {
    padding-bottom: 9.5625rem
  }
  .page__about {
    padding-top: 7.5rem
  }
  .page__about {
    padding-bottom: 7.5rem
  }
  .page__expereince {
    padding-top: 3.75rem
  }
  .page__expereince {
    padding-bottom: 3.75rem
  }
  .page__team {
    padding-top: 7.5rem
  }
  .page__work {
    padding-top: 6.25rem
  }
  .page__work {
    padding-bottom: 7.5rem
  }
  .page__feedback {
    padding-top: 3.75rem
  }
  .page__feedback {
    padding-bottom: 3.75rem
  }
  .page__blog {
    padding-top: 7.5rem
  }
  .page__blog {
    padding-bottom: 3.75rem
  }
  .page__contact {
    padding-top: 3.75rem
  }
  .page__contact {
    padding-bottom: 7.5rem
  }
  .about__body {
    margin-bottom: 3.75rem
  }
  .expereince__item-label {
    font-size: 1.25rem
  }
  .team__heading {
    margin-bottom: 3.75rem
  }
  .work__control {
    margin-bottom: 3.75rem
  }
  .work__control-title {
    -webkit-column-gap: 2.6875rem;
    -moz-column-gap: 2.6875rem;
    column-gap: 2.6875rem
  }
  .work__control-title {
    font-size: 1.25rem
  }
  .slide-work {
    gap: 1.875rem
  }
  .hover-tabs__work {
    font-size: 1.5625rem
  }
  .hover-tabs__work {
    margin-bottom: 1.125rem
  }
  .feedback__heading {
    padding-bottom: 3.75rem
  }
  .slide-feedback__content {
    padding-top: 2.125rem
  }
  .slide-feedback__content {
    padding-left: 4.0625rem
  }
  .slide-feedback__content {
    padding-right: 4.0625rem
  }
  .slide-feedback__content {
    padding-bottom: 1.5625rem
  }
  .slide-feedback__name {
    font-size: 1.5625rem
  }
  .slide-feedback__post {
    font-size: 1rem
  }
  .blog__heading {
    padding-bottom: 3.75rem
  }
  .slide-blog__heading {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .slide-blog__label {
    font-size: 1rem
  }
  .slide-blog__text {
    font-size: 1.5625rem
  }
  .slide-blog__image {
    width: 10.25rem
  }
  .slide-blog__image {
    height: 10.25rem
  }
  .slide-blog__person-image {
    width: 5rem
  }
  .slide-blog__person-image {
    height: 5rem
  }
  .slide-blog__person-name {
    font-size: 1.25rem
  }
  .slide-blog__person-date {
    font-size: 1rem
  }
  .contact__items {
    gap: 1.875rem
  }
  .contact__brend {
    padding-top: 7.8125rem
  }
  .contact__brend {
    gap: 7.5rem
  }
  .contact__brend-image {
    height: 10.4375rem
  }
  .item-contact__heading {
    margin-bottom: 2.25rem
  }
}
@media (max-width:20em) {
  .title-main {
    font-size: 1.9375rem
  }
  .title {
    font-size: 1.5625rem
  }
  .content__label {
    margin-bottom: 1.125rem
  }
  .content__text {
    padding-bottom: 1.5625rem
  }
  .heading__label {
    margin-bottom: 1.125rem
  }
  .header {
    padding-top: .625rem
  }
  .header {
    padding-bottom: .625rem
  }
  .header__container {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .menu__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .footer__top {
    padding-top: 3.125rem
  }
  .footer__top {
    padding-bottom: 3.125rem
  }
  .footer__title {
    font-size: 1.9375rem
  }
  .page__hero {
    padding-top: 6.25rem
  }
  .page__hero {
    padding-bottom: 3.125rem
  }
  .page__about {
    padding-top: 3.125rem
  }
  .page__about {
    padding-bottom: 3.125rem
  }
  .page__expereince {
    padding-top: 3.125rem
  }
  .page__expereince {
    padding-bottom: 3.125rem
  }
  .page__team {
    padding-top: 3.125rem
  }
  .page__work {
    padding-top: 1.875rem
  }
  .page__work {
    padding-bottom: 3.125rem
  }
  .page__feedback {
    padding-top: 3.125rem
  }
  .page__feedback {
    padding-bottom: 3.125rem
  }
  .page__blog {
    padding-top: 3.125rem
  }
  .page__blog {
    padding-bottom: 1.5625rem
  }
  .page__contact {
    padding-top: 1.5625rem
  }
  .page__contact {
    padding-bottom: 3.125rem
  }
  .about__body {
    margin-bottom: 3.125rem
  }
  .expereince__item-label {
    font-size: 1.5625rem
  }
  .team__heading {
    margin-bottom: 1.125rem
  }
  .work__control {
    margin-bottom: 3.125rem
  }
  .work__control-title {
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem
  }
  .work__control-title {
    font-size: 1rem
  }
  .slide-work {
    gap: .9375rem
  }
  .hover-tabs__work {
    font-size: 1.9375rem
  }
  .hover-tabs__work {
    margin-bottom: .4375rem
  }
  .feedback__heading {
    padding-bottom: 3.125rem
  }
  .slide-feedback__content {
    padding-top: 1.625rem
  }
  .slide-feedback__content {
    padding-left: 3.125rem
  }
  .slide-feedback__content {
    padding-right: 3.125rem
  }
  .slide-feedback__content {
    padding-bottom: 1.125rem
  }
  .slide-feedback__name {
    font-size: 1rem
  }
  .slide-feedback__post {
    font-size: .75rem
  }
  .blog__heading {
    padding-bottom: 3.125rem
  }
  .slide-blog__heading {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .slide-blog__label {
    font-size: .75rem
  }
  .slide-blog__text {
    font-size: 1rem
  }
  .slide-blog__image {
    width: 5rem
  }
  .slide-blog__image {
    height: 5rem
  }
  .slide-blog__person-image {
    width: 2.5rem
  }
  .slide-blog__person-image {
    height: 2.5rem
  }
  .slide-blog__person-name {
    font-size: 1rem
  }
  .slide-blog__person-date {
    font-size: .75rem
  }
  .contact__items {
    gap: 1.5625rem
  }
  .contact__brend {
    padding-top: 3.1875rem
  }
  .contact__brend {
    gap: 1.8125rem
  }
  .contact__brend-image {
    height: 3.3125rem
  }
  .item-contact__heading {
    margin-bottom: 1.4375rem
  }
}
@media (max-width:61.99875em) {
  .footer__columns {
    grid-template-columns: repeat(2,1fr)
  }
  .about__items {
    grid-template-columns: repeat(2,1fr)
  }
  .team__slider {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
  .feedback__slider {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
  .blog__slider {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
  .contact__items {
    flex-wrap: wrap
  }
  .contact__form {
    flex-direction: column
  }
  .contact__form-title {
    text-align: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: auto;
    height: auto;
    right: -100%;
    top: -100%;
    overflow: auto;
    padding: 3.75rem 1.875rem 1.875rem 1.875rem;
    border-radius: 0 0 0 1.875rem;
    transition: all .6s;
    background: #fff7f4
  }
  .dark .menu__body {
    background-color: #3a3b3c
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: -100%;
    transition: all .6s;
    z-index: 2
  }
  .menu-open .menu__body {
    right: 0;
    top: 0
  }
  .menu-open .menu__body::before {
    right: 0;
    top: 0
  }
  .menu__list {
    flex-direction: column
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: var(--mainColor)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .content {
    align-items: center
  }
  .content__title {
    text-align: center
  }
  .content__text {
    text-align: center
  }
  .header__logo {
    font-size: 1.25rem
  }
  .header__logo {
    font-size: 1.5625rem
  }
  .header__menu {
    order: 2
  }
  .header__switch {
    order: 1
  }
  .menu__item {
    font-size: 1.75rem
  }
  .footer__columns {
    grid-template-columns: repeat(1,1fr)
  }
  .sidebar {
    display: none
  }
  .hero__container {
    flex-direction: column-reverse
  }
  .about__body {
    flex-direction: column-reverse
  }
  .expereince__container {
    flex-direction: column
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .about__items {
    grid-template-columns: repeat(1,1fr)
  }
  .expereince__items {
    width: 100%;
    grid-template-columns: repeat(1,1fr)
  }
  .slide-work {
    grid-template-columns: repeat(1,1fr)
  }
  .contact__form-content form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr)
  }
  .contact__textarea {
    grid-area: 5/1/8/2
  }
}
@media (max-width:23.75em) {
  .slide-feedback__text {
    margin-left: -1.25rem;
    margin-right: -1.25rem
  }
}
@media (min-width:20em)and (max-width:75em) {
  .title-main {
    font-size: clamp(1.9375rem ,1.5511363636rem + 1.9318181818vw ,3rem)
  }
  .title {
    font-size: clamp(1.5625rem ,1.2443181818rem + 1.5909090909vw ,2.4375rem)
  }
  .content__label {
    margin-bottom: clamp(1.125rem ,.9659090909rem + .7954545455vw ,1.5625rem)
  }
  .content__text {
    padding-bottom: clamp(1.5625rem ,.9943181818rem + 2.8409090909vw ,3.125rem)
  }
  .heading__label {
    margin-bottom: clamp(1.125rem ,.9659090909rem + .7954545455vw ,1.5625rem)
  }
  .header {
    padding-top: clamp(.625rem ,.2840909091rem + 1.7045454545vw ,1.5625rem)
  }
  .header {
    padding-bottom: clamp(.625rem ,.2840909091rem + 1.7045454545vw ,1.5625rem)
  }
  .footer__top {
    padding-top: clamp(3.125rem ,2.7613636364rem + 1.8181818182vw ,4.125rem)
  }
  .footer__top {
    padding-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .footer__title {
    font-size: clamp(1.9375rem ,1.7556818182rem + .9090909091vw ,2.4375rem)
  }
  .page__hero {
    padding-top: clamp(6.25rem ,2.7727272727rem + 17.3863636364vw ,15.8125rem)
  }
  .page__hero {
    padding-bottom: clamp(3.125rem ,.7840909091rem + 11.7045454545vw ,9.5625rem)
  }
  .page__about {
    padding-top: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .page__about {
    padding-bottom: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .page__expereince {
    padding-top: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .page__expereince {
    padding-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .page__team {
    padding-top: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .page__work {
    padding-top: clamp(1.875rem ,.2840909091rem + 7.9545454545vw ,6.25rem)
  }
  .page__work {
    padding-bottom: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .page__feedback {
    padding-top: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .page__feedback {
    padding-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .page__blog {
    padding-top: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .page__blog {
    padding-bottom: clamp(1.5625rem ,.7670454545rem + 3.9772727273vw ,3.75rem)
  }
  .page__contact {
    padding-top: clamp(1.5625rem ,.7670454545rem + 3.9772727273vw ,3.75rem)
  }
  .page__contact {
    padding-bottom: clamp(3.125rem ,1.5340909091rem + 7.9545454545vw ,7.5rem)
  }
  .about__body {
    margin-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .expereince__item-label {
    font-size: clamp(1.25rem ,1.6761363636rem + -.5681818182vw ,1.5625rem)
  }
  .team__heading {
    margin-bottom: clamp(1.125rem ,.1704545455rem + 4.7727272727vw ,3.75rem)
  }
  .work__control {
    margin-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .work__control-title {
    -webkit-column-gap: clamp(1.125rem ,.5568181818rem + 2.8409090909vw ,2.6875rem);
    -moz-column-gap: clamp(1.125rem ,.5568181818rem + 2.8409090909vw ,2.6875rem);
    column-gap: clamp(1.125rem ,.5568181818rem + 2.8409090909vw ,2.6875rem)
  }
  .work__control-title {
    font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
  }
  .slide-work {
    gap: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .hover-tabs__work {
    font-size: clamp(1.5625rem ,2.0738636364rem + -.6818181818vw ,1.9375rem)
  }
  .hover-tabs__work {
    margin-bottom: clamp(.4375rem ,.1875rem + 1.25vw ,1.125rem)
  }
  .feedback__heading {
    padding-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .slide-feedback__content {
    padding-top: clamp(1.625rem ,1.4431818182rem + .9090909091vw ,2.125rem)
  }
  .slide-feedback__content {
    padding-left: clamp(3.125rem ,2.7840909091rem + 1.7045454545vw ,4.0625rem)
  }
  .slide-feedback__content {
    padding-right: clamp(3.125rem ,2.7840909091rem + 1.7045454545vw ,4.0625rem)
  }
  .slide-feedback__content {
    padding-bottom: clamp(1.125rem ,.9659090909rem + .7954545455vw ,1.5625rem)
  }
  .slide-feedback__name {
    font-size: clamp(1rem ,.7954545455rem + 1.0227272727vw ,1.5625rem)
  }
  .slide-feedback__post {
    font-size: clamp(.75rem ,.6590909091rem + .4545454545vw ,1rem)
  }
  .blog__heading {
    padding-bottom: clamp(3.125rem ,2.8977272727rem + 1.1363636364vw ,3.75rem)
  }
  .slide-blog__heading {
    -webkit-column-gap: clamp(.625rem ,-.2386363636rem + 4.3181818182vw ,3rem);
    -moz-column-gap: clamp(.625rem ,-.2386363636rem + 4.3181818182vw ,3rem);
    column-gap: clamp(.625rem ,-.2386363636rem + 4.3181818182vw ,3rem)
  }
  .slide-blog__label {
    font-size: clamp(.75rem ,.6590909091rem + .4545454545vw ,1rem)
  }
  .slide-blog__text {
    font-size: clamp(1rem ,.7954545455rem + 1.0227272727vw ,1.5625rem)
  }
  .slide-blog__image {
    width: clamp(5rem ,3.0909090909rem + 9.5454545455vw ,10.25rem)
  }
  .slide-blog__image {
    height: clamp(5rem ,3.0909090909rem + 9.5454545455vw ,10.25rem)
  }
  .slide-blog__person-image {
    width: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
  }
  .slide-blog__person-image {
    height: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
  }
  .slide-blog__person-name {
    font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
  }
  .slide-blog__person-date {
    font-size: clamp(.75rem ,.6590909091rem + .4545454545vw ,1rem)
  }
  .contact__items {
    gap: clamp(1.5625rem ,1.4488636364rem + .5681818182vw ,1.875rem)
  }
  .contact__brend {
    padding-top: clamp(3.1875rem ,1.5056818182rem + 8.4090909091vw ,7.8125rem)
  }
  .contact__brend {
    gap: clamp(1.8125rem ,-.2556818182rem + 10.3409090909vw ,7.5rem)
  }
  .contact__brend-image {
    height: clamp(3.3125rem ,.7215909091rem + 12.9545454545vw ,10.4375rem)
  }
  .item-contact__heading {
    margin-bottom: clamp(1.4375rem ,1.1420454545rem + 1.4772727273vw ,2.25rem)
  }
}
@media (min-width:20em)and (max-width:47.99875em) {
  .header__container {
    -webkit-column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem);
    -moz-column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem);
    column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem);
    -moz-column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem);
    column-gap: clamp(1.5625rem ,.9821169472rem + 2.9019152641vw ,2.375rem)
  }
}
@media (min-width:47.99875em)and (max-width:75em) {
  .header__logo {
    font-size: clamp(1.25rem ,-.8609584047rem + 4.3979445396vw ,2.4375rem)
  }
  .menu__item {
    font-size: clamp(1rem ,.5555877043rem + .925883061vw ,1.25rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #d44903
  }
  .social-link:hover {
    background-color: #ff5300
  }
  .social-link:hover svg {
    color: #fff
  }
  .header__switch:hover {
    -webkit-animation: rotary-switch 3s infinite ease-in-out;
    animation: rotary-switch 3s infinite ease-in-out
  }
  .menu__link:hover {
    color: #ff5300
  }
  .footer__link:hover {
    text-decoration: underline
  }
  .footer__copyright:hover {
    text-decoration: underline
  }
  .footer__button:hover {
    background-color: #fff
  }
  .footer__button:hover svg {
    color: #ff5300
  }
  .team-slide:hover .team-slide__sidebar {
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%)
  }
  .slide-work__link:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  .slide-work__link:hover .slide-work__hover {
    opacity: 1
  }
}
@media (any-hover:none) {
  .team-slide__sidebar {
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%)
  }
  .slide-work__hover {
    opacity: 1;
    background-color: rgba(0,0,0,0);
    mix-blend-mode: difference
  }
}